.sidebar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  height: calc(100vh - 100px);
  background-color: black;
  color: white;
}

.playlist__container {
  overflow-y: scroll;
  scrollbar-color: #2e2e2e8c #00000000;
  scrollbar-width: thin;
}

.playlist__container::-webkit-scrollbar {
  width: 5px;
}

.playlist__container::-webkit-scrollbar-thumb {
  background-color: #cccccc3d;
}

.playlist__container::-webkit-scrollbar {
  width: 5px;
}

.playlist__container::-webkit-scrollbar-thumb {
  background-color: #1f1f1ffd;
}

.sidebar > img {
  width: 100px;
  object-fit: contain;
  margin: 10px auto;
}

.separator_side_bar {
  width: 90%;
  margin: 10px auto;
  padding: 0 10px;
  background-color: teal;
  height: 1px;
  border: 0;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
