.banner__container {
  display: flex;
  align-items: flex-end;
  color: white;
}

.banner__album {
  object-fit: contain;
  height: 150px;
  width: 150px;
}

.banner__info {
  margin: 15px;
  font-size: 1.3rem;
}
