.play__pause__box {
  display: flex;
  justify-content: center;
  width: 60px;
}

.play__pause {
  font-size: 2.7rem !important;
}

@media only screen and (max-width: 600px) {
  .play__pause {
    font-size: 3.7rem !important;
  }
}
