.footer__container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 0 10px;
  background-color: black;
  color: white;
}

.footer_left {
  flex: 0.3;
}

.footer_center {
  flex: 0.4;
}

.footer_right {
  flex: 0.3;
}

@media only screen and (max-width: 600px) {
  .footer_left {
    display: none;
  }

  .footer_center {
    flex: 1;
    height: 150px;
  }

  .footer_right {
    display: none;
  }
}
