.left__container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.album {
  height: 60px;
  width: 70px;
  object-fit: contain;
}

.song__info {
  padding: 0 10px;
}

.song__info > h4 {
  font-weight: 500;
}

.song__info > p {
  font-size: 13px;
}

.favorite__icon {
  margin: 0 auto 0 10px;
  cursor: pointer;
}

.left__container > .MuiSvgIcon-root:hover {
  fill: rgb(255, 53, 53);
}
