.tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tracker > p {
  font-size: 13px;
}

.song__tracker {
  display: flex;
  align-items: center;
  height: 2px;
  width: 85%;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.479);
}

.song__duration {
  height: 4px;
  border-radius: 5px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  -o-animation: gradient 15s ease infinite;
  -ms-transition: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

.song__duration2 {
  height: 4px;
  border-radius: 5px;

  background: linear-gradient(-45deg, #ffffff, #000000);
}

/* Body.css --> animation */
